<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tepia.ar">

    <!-- 写内存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".arscan.ARScanActivity" />
        <activity android:name=".ARScanResultActivity"></activity>
    </application>

</manifest>