<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tepia.cmdbsevice">

    <application>
        <activity android:name=".view.alarmstatistics.AlarmStatisticsActivity" />
        <!-- 主 tab 页 -->
        <activity
            android:name=".view.cmdbmain.CmdbMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <!-- 测站 —— 基础信息-->
        <activity android:name=".view.cmdbmain.onlinemonitor.stationbaseinfodetail.StationBaseInfoDetailActivity" />
        <!--  测站详情 -->
        <activity
            android:name=".view.cmdbmain.onlinemonitor.stationdetail.StationDetailActivity"
            android:launchMode="singleTask" />
        <!-- 实时数据 -->
        <activity android:name=".view.cmdbmain.onlinemonitor.stationhisdata.StationHisDataActivity" />
        <!-- VR -->
        <activity android:name=".view.cmdbmain.onlinemonitor.stationdetail.StatoinVrActivity" />
        <activity android:name=".view.cmdbmain.onlinemonitor.stationdetail.StatoinGYLCActivity" />

        <!-- 后台服务-长连接 -->
        <service android:name=".service.BackService" />

        <!-- 事件督办-->
        <activity android:name=".view.alarmstatistics.AlarmStatisticsTwoActivity" />
    </application>
</manifest>
