<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tepia.cmdbsevice">

    <application>
        <!-- 主 tab 页 -->
        <activity android:name=".view.cmdbmain.CmdbMainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <!-- 测站 —— 基础信息-->
        <activity android:name=".view.cmdbmain.onlinemonitor.stationbaseinfodetail.StationBaseInfoDetailActivity" />
    </application>
</manifest>
